@media (max-width: 768px) {
    /*applied if browser window width is less than or equal to 600px*/
    .text {
        display: none;
    }

    .btn-static-size {
        /*height: 16px;*/
        width: 40px;
    }
}

@media (min-width: 768px) {
    /*applied if browser window width is greater than 600px*/
    .icons {
        display: none;
    }

    .btn-static-size {
        height: 34px;
        width: 75px;
    }
}

.btn-file {
    height: 34px;
    width: 128px;
}

.add-question {
    margin-right: 5px;
    /*margin-top: 5px;*/
}

.add-question-csv {
    background-color: buttonface;
}

.navbar-toggle-color {
    background-color: #1964ae;
}




.question-title-width{
    width: 60%
}
.question-group-width{
    width: 15%
}

.group-title-width{
    width: 70%
}

.result-email-width{
    width: 50%
}

.result-result-width{
    width: 30%
}
.App-logo{
    height:50px;
}

