
// Body
$body-bg: #fff;

// Borders
// $laravel-border-color: darken($body-bg, 10%);
// $list-group-border: $laravel-border-color;
// $navbar-default-border: $laravel-border-color;
// $panel-default-border: $laravel-border-color;
// $panel-inner-border: $laravel-border-color;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$white: #fff;
$black: #202020;
$grey: #757575;
$grey-alt: #ededed;
$orange: #f5a623;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #f5f5f5;
$gray-lighter:           #fafafa;

$brand-primary:         #3a8fe3;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


// Brands
$brand-primary:     #3a8fe3;
$brand-info:        #ffb700;
$brand-success:     #2ab27b;
$brand-warning:     #ffb700;
$brand-danger:      #bf5329;

//== Components
$border-radius-small:       2px;

$border-radius-large:       14px;

$padding-base-vertical:     7px;
$padding-base-horizontal:   12px !default;



// Typography
$font-family-sans-serif:    'Roboto', Arial, Helvetica, sans-serif;
$font-size-base:            16px;
$line-height-base:          1.143;
$text-color:                #636b6f;

$font-size-h1:            floor(($font-size-base * 2)) !default; // ~24px
$font-size-h2:            floor(($font-size-base * 1.286)) !default; // ~18px
$font-size-h3:            $font-size-base; // ~14px
$font-size-h4:            ceil(($font-size-base * 0.929)) !default; // ~13px
$font-size-h5:            ceil(($font-size-base * 0.929)) !default; // ~13px
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$headings-font-weight:  400;

// Navbar
$navbar-default-bg: #eaeaea;


// Navbar toggle
$navbar-default-toggle-hover-bg:        #7b7b7b;
$navbar-default-toggle-icon-bar-bg:     #fff;
$navbar-default-toggle-border-color:    $brand-warning;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:        $gray-light;
$navbar-inverse-toggle-icon-bar-bg:     #333;
$navbar-inverse-toggle-border-color:    $brand-warning;
$navbar-inverse-link-active-bg:         transparent;
$navbar-inverse-link-hover-bg:          transparent;

// Inputs
$input-border:              lighten($text-color, 40%);
$input-border-focus:        lighten($brand-primary, 25%);
$input-color-placeholder:   lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Basics of a navbar
$navbar-default-color:              #666;
$navbar-default-link-color:         #666;
$navbar-default-link-active-color:  #000;
$navbar-default-link-active-bg:     transparent;

//=== Inverted navbar
$navbar-inverse-bg: #424242;

//== Pills
$nav-pills-border-radius:                   0;
$nav-pills-active-link-hover-bg:            $body-bg;
$nav-pills-active-link-hover-color:         $black;

// Inverted navbar links
$navbar-inverse-link-color:         $white;
$navbar-inverse-link-active-color:  $white;
$navbar-inverse-link-hover-color:   $white;
$navbar-inverse-link-active-bg:     #616161;

//== Buttons

$btn-font-weight:       600;
$btn-default-color:     $brand-primary;
$btn-default-border:    #efefef;


$btn-info-color:        $brand-primary;
$btn-info-bg:           transparent;
$btn-info-border:       transparent;

$btn-border-radius-base:$border-radius-small;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:       16px;
$alert-border-radius: $border-radius-small;

$alert-info-bg:     #fff;
$alert-info-text:   #4a4a4a;
$alert-info-border: #fff;


//== Tables
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            15px;
$table-condensed-cell-padding:  8px;
$table-bg-hover:                #f5f5f5;


//== Tabs
$nav-tabs-border-color: #e1e1e1;


//== Jumbotron
//
//##

$jumbotron-padding:              16px !default;
$jumbotron-color:                $black;
$jumbotron-bg:                   $white;
$jumbotron-font-size:            ceil(($font-size-base * 1.071)) !default;
$jumbotron-heading-font-size:    ceil(($font-size-base * 3.214)) !default;


//== Form states and alerts
$state-warning-text:             #f0ad4e;
$state-warning-bg:               #f0ad4e;
$state-warning-border:           #f0ad4e;


//== Modals
//

$modal-inner-padding:                   30px;
$modal-title-padding:                   30px;
$modal-backdrop-opacity:                 .3;
$modal-content-border-color:            transparent;
$modal-content-fallback-border-color:   transparent;
$modal-header-border-color:             transparent;
$modal-footer-border-color:             transparent;


//== Popovers
//
//##

//** Popover maximum width

//** Popover border color
$popover-border-color:                #fff;

//** Popover arrow width
$popover-arrow-width:                 6px;