$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import "scss/vendors/_include-media.scss";

@import "scss/bootstrap-extended.scss";
@import "scss/_bootstrap-custom.scss";
@import "scss/vendors/bootstrap/_variables.scss";
@import "scss/vendors/bootstrap/_mixins.scss";

@import "scss/base/_mixins.scss";
@import "scss/base/_helpers.scss";

#header{
    >.navbar{
        padding:15px 0;
    }
}
.navbar-brand{
  height:auto;
  padding:0 15px;
}
.navbar-default{
    border-radius:0;
    border-width:0 0 1px;
}
.navbar{
    margin-bottom:0;
}
#main{
    position:relative;
    background:white;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td{
    vertical-align:middle;
}
.page-header{
    h1{margin:0;}
}
label{
    margin-bottom:8px;
}
.radio label, .checkbox label{
    font-size:18px;
}
#login-form{
    button{
        display:block;
        width:100% !important;
    }
}